<% provide(:title, "Home") %>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1 class="text-center">Welcome on the Home Page</h1>
      <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque fugiat, id minima nisi pariatur quibusdam tempore temporibus! Cum, deleniti dignissimos dolore eius exercitationem molestiae, nulla perferendis quia quibusdam sapiente vitae.</p>
    </div>
    <div class="col-md-4">Log in</div>
  </div>
</div>