<nav class="navbar navbar-default">
  <%= link_to "eSchoolReg", root_path, class: "navbar-brand" %>
  <ul class="nav navbar-nav">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "About", about_path %></li>
  </ul>
</nav>